<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body style=" margin: 0 !important; padding: 0 !important;">
    Hello {{name}},
    <p>You have been successfully registered for AZeotropy's Campus ambassador program.
        You will be contacted shortly for the further process.</p>
    <p>Feel free to contact us if you have any questions or concerns. <br>
        Seemon Bansod : Mobile No.: +91 7620341668  | Email: seemon@azeotropy.org <br>
        Paresh Sabar : Mobile No. : +91 6372461544  | Email: paresh.azeotropy@gmail.com <br></p>
    All the best!
</body> 

</html>